html{	border:0px dotted red;}

div.photo {
  width:280px;
  float:right;
  margin-bottom: 1rem;
  font-weight: italic;
}
img {
  width: 200px;
}
div.tete {
  color:black;
}
div.info {
  color:grey;
  font-family: italic
}
div.texte {
  color:grey
}
h2 {
  font-family:arial;
  color:black;
}
hr {clear: right;
}
